# Ignore Terraform directories and files
.terraform/
.terraform.lock.hcl

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash log files
crash.log
crash.*.log

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore any plan files
*.tfplan

# Ignore CLI configuration files
.terraformrc
terraform.rc

# Ignore Visual Studio Code directories and settings
.vscode/
.vscode/*


